{{#link-to 'search'}}Back{{/link-to}}

<h1 class="detail-header">{{model.cityName}}</h1>

<span>{{model.description}}</span>
<span>{{model.minTemp}}</span>
<span>{{model.maxTemp}}</span>
<span>{{model.windSpeed}}</span>
<span>{{model.windDirection}}</span>
<span>{{model.pressure}}</span>
