<div class="nav">
  <div class="nav-left">
    <div class="nav-item">
      {{#link-to 'search'}}Back to Search{{/link-to}}
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="detail-header">{{model.cityName}}</h1>

      <h3>Details:</h3>
      <ul>
        <li>
          <strong>Overview:</strong> {{model.description}}
        </li>
        <li>
          <strong>Min Temp:</strong> {{model.minTemp}} &#8451;
        </li>
        <li>
          <strong>Max Temp:</strong> {{model.maxTemp}} &#8451;
        </li>
        <li>
          <strong>Wind:</strong> {{model.windSpeed}} KM/Hr {{model.windDirectionString}}
        </li>
        <li>
          <strong>Pressure:</strong> {{model.pressure}} hPa
        </li>
      </ul>
    </div>

  </div>
</div>
