
<div class="nav">
  <div class="search-container">
    {{input value=cityQuery}}
    <button class="button" disabled={{searchDisabled}} onclick={{perform searchTask}}>Search</button>
  </div>
</div>


<div class="section">
  <div class="container">
    {{#if searchTask.isRunning}}
      <h1 class="title is-2">Searching</h1>
    {{else}}
      {{#if results.length}}
        <h1 class="title is-2">Results for <strong class="city-name">{{cityName}}</strong></h1>

        <div class="columns is-multiline results">
          {{#each results as |result|}}
            <div class="column is-one-quarter">
              {{#link-to 'detail' result.id}}
                {{forecast-widget forecast=result}}
              {{/link-to}}
            </div>
          {{/each}}
        </div>
      {{else if (and cityQuery searchTask.performCount)}}
        <h1 class="title is-2" id="empty-message">Sorry No Results found</h1>
      {{else}}
        <h1 class="title is-2">Search for weather above</h1>
      {{/if}}
    {{/if}}
  </div>
</div>
