{{input value=cityQuery}}
<button onclick={{perform searchTask}}>Search</button>


{{#if searchTask.isRunning}}
  <h1>Searching</h1>
{{else}}
  {{#if results.length}}
    <h1>Results for <strong class="city-name">{{cityName}}</strong></h1>

    <ul class="results">
      {{#each results as |result|}}
        {{#link-to 'detail' result.id}}
          {{forecast-widget forecast=result}}
        {{/link-to}}
      {{/each}}
    </ul>
  {{else if cityQuery}}
    <h1 id="empty-message">Sorry No Results found</h1>
  {{else}}
    <h1>Search for weather above</h1>
  {{/if}}
{{/if}}
